@import '../../../styles.scss'; 

.home{
    margin: 10px 100px 100% 190px;

    .title{
        margin-top: 0.5%;
        font-weight: 300;
        line-height: 1.2;
    }

    .subtitle{
        font-size: 1.1rem;
    }
}

.space {
    flex: 1 1 auto;
  }

.usuario{
    font-size: medium;
    margin-right: 10px;
    font-weight: 500;
}

mat-option{
    font-size: small !important;
    font-weight: 430;
}

.dropdown{
    margin-right: 15px;
}