<app-content>
    <mat-card class="card-area">
        <h2>Cadastro Área</h2>
        <form [formGroup]="formularioCadastroArea">
            <mat-form-field appearance="outline" class="input-49">
                <mat-label>Area</mat-label>
                <input matInput type="text" id="area" name="area" formControlName="area">
            </mat-form-field>

            <div class="button">
                <button
                mat-raised-button
                color="primary"
                routerLink="/areas" class="button-voltar"
                >
                voltar
                </button>

                <button *ngIf="btnCadastrar"
                mat-raised-button
                color="primary"
                (click)="cadastrar()"
                >
                cadastrar
                </button>
            </div>
        </form>
               
      </mat-card>
</app-content>
