<app-content>
    <mat-card class="card-cursos">
      <h2>Cursos</h2>
  
      <mat-form-field>
        <input
          type="text"
          placeholder="Pesquisar"
          [(ngModel)]="filtro"
          (input)="aplicarFiltro()"
          matInput
        />
      </mat-form-field>
  
      <div *ngIf="carregando" class="loading">
        <h3>Carregando ...</h3>
        <mat-spinner aria-label="Carregando..."></mat-spinner>
      </div>
  
      <div *ngIf="carregando == false">
        <table mat-table [dataSource]="dataSourceCurso" class="mat-elevation-z8">
          <ng-container matColumnDef="Curso">
            <th mat-header-cell *matHeaderCellDef>Curso</th>
            <td mat-cell *matCellDef="let curso">{{ curso.nome }}</td>
          </ng-container>

          <ng-container matColumnDef="Instituição">
            <th mat-header-cell *matHeaderCellDef>Curso</th>
            <td mat-cell *matCellDef="let curso">{{ curso.instituicao }}</td>
          </ng-container>
    
          <ng-container matColumnDef=" ">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let curso">
              <div (click)="consultarCurso(curso)" routerLink="/consultar-curso">
                <mat-icon>search</mat-icon>
              </div>
            </td>
          </ng-container>
          <!-- <ng-container matColumnDef="  ">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let curso">
              <div (click)="excluirCurso(curso)">
                <mat-icon>delete</mat-icon>
              </div>
            </td>
          </ng-container> -->
    
          <tr mat-header-row *matHeaderRowDef="colunas"></tr>
          <tr mat-row *matRowDef="let row; columns: colunas"></tr>      
        </table>
        <mat-paginator [length]="dataSourceCursoFiltrado.data.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageChange($event)"></mat-paginator>
      </div>

      <div class="button">
        <button
            mat-raised-button
            color="primary"
            routerLink="/cadastrar-curso"
        >
            cadastrar
      </button>
      </div>
      
    </mat-card>
  </app-content>
  