.card-alert{
    text-align: center;
    font-size: medium;
    margin-top: 4%;
    background-color: #F8F8F8;

    span{
        margin-right: 15px;
        font-weight: 450;
    }
}

.btn-avancar{
    margin-left: 1%;
}